@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* 自定义配色变量 */
		--color-accent-200: #b3c7ff;
		--color-accent-600: #364bff;
		--color-accent-900: #182775;
		--color-accent-950: #131e4f;
		--color-gray-100: #f5f6f8;
		--color-gray-200: #eceef2;
		--color-gray-300: #c0c2c7;
		--color-gray-400: #888b96;
		--color-gray-500: #545861;
		--color-gray-700: #353841;
		--color-gray-800: #24272f;
		--color-gray-900: #17181c;

		/* shadcn/ui 主题变量 */
		--background: 0 0% 100%;
		--foreground: 217 10% 34%; /* gray-700 */
		--card: 0 0% 100%;
		--card-foreground: 217 10% 34%; /* gray-700 */
		--popover: 0 0% 100%;
		--popover-foreground: 217 10% 34%; /* gray-700 */
		--primary: 235 70% 46%; /* accent-600 */
		--primary-foreground: 0 0% 98%;
		--secondary: 216 20% 95%; /* gray-100 */
		--secondary-foreground: 217 10% 34%; /* gray-700 */
		--muted: 216 20% 95%; /* gray-100 */
		--muted-foreground: 215 10% 57%; /* gray-500 */
		--accent: 216 20% 95%; /* gray-100 */
		--accent-foreground: 217 10% 34%; /* gray-700 */
		--destructive: 0 72% 51%;
		--destructive-foreground: 0 0% 98%;
		--border: 216 17% 91%; /* gray-200 */
		--input: 216 17% 91%; /* gray-200 */
		--ring: 235 70% 46%; /* accent-600 */
		--chart-1: 235 70% 46%; /* accent-600 */
		--chart-2: 215 10% 57%; /* gray-500 */
		--chart-3: 217 10% 34%; /* gray-700 */
		--chart-4: 235 100% 84%; /* accent-200 */
		--chart-5: 235 50% 30%; /* accent-900 */
		--radius: 0.5rem;
	}

	.dark {
		--background: 217 15% 14%; /* gray-800 */
		--foreground: 216 17% 91%; /* gray-200 */
		--card: 217 15% 14%; /* gray-800 */
		--card-foreground: 216 17% 91%; /* gray-200 */
		--popover: 217 15% 14%; /* gray-800 */
		--popover-foreground: 216 17% 91%; /* gray-200 */
		--primary: 235 70% 46%; /* accent-600 */
		--primary-foreground: 0 0% 98%;
		--secondary: 217 15% 18%; /* gray-900 */
		--secondary-foreground: 216 17% 91%; /* gray-200 */
		--muted: 217 15% 18%; /* gray-900 */
		--muted-foreground: 215 8% 75%; /* gray-300 */
		--accent: 217 15% 18%; /* gray-900 */
		--accent-foreground: 216 17% 91%; /* gray-200 */
		--destructive: 0 72% 51%;
		--destructive-foreground: 0 0% 98%;
		--border: 217 10% 34%; /* gray-700 */
		--input: 217 10% 34%; /* gray-700 */
		--ring: 235 70% 46%; /* accent-600 */
		--chart-1: 235 70% 46%; /* accent-600 */
		--chart-2: 235 100% 84%; /* accent-200 */
		--chart-3: 216 17% 91%; /* gray-200 */
		--chart-4: 215 8% 75%; /* gray-300 */
		--chart-5: 235 50% 30%; /* accent-900 */
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
